<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Sibrax - NFSe</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
        {#<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
        {#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/sibrax.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
        <!-- Custom CSS -->
        <style>
            body {
                padding-top: 70px;
                /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
            }
        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% if app.user != null%}
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">#}
                            {#<span class="sr-only">Toggle navigation</span>#}
                            {#<span class="icon-bar"></span>#}
                            {#<span class="icon-bar"></span>#}
                            {#<span class="icon-bar"></span>#}
                        {#</button>#}
                        <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/resources/logo.png') }}" alt="Homepage" height="36" width="110" style="padding-bottom: 2px"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {#<li>#}
                                {#<a href="{{ path('homepage') }}">Home</a>#}
                            {#</li>#}
                            <li>
                                <a href="{{ path('nota_index') }}"><span class="fa fa-file"></span> Nota de Serviço</a>
                            </li>
                            <li>
                                <a href="{{ path('cliente_index') }}"><span class="fa fa-users"></span> Clientes</a>
                            </li>

                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-circle-o"></span> Cadastros<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('servico_index') }}"><span class="fa fa-circle-o"></span> Serviços</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('bancos_index') }}"><span class="fa fa-circle-o"></span> Bancos</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('plano_index') }}"><span class="fa fa-circle-o"></span> Plano de Contas</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('convenio_index') }}"><span class="fa fa-circle-o"></span> Convênios</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('empresa_edit') }}"><span class="fa fa-circle-o"></span> Minha Empresa</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-dollar"></span> Financeiro<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('contas_index', {'tipo' : 'PAGAR'}) }}"><span class="fa fa-circle-o"></span> Contas a Pagar</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('contas_index', {'tipo' : 'RECEBER'}) }}"><span class="fa fa-circle-o"></span> Contas a Receber</a></li>
                                </ul>
                            </li>


                            <li class="dropdown" style="float: right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% if app.user == null%}
                                        <li><a href='{{path("login")}}'>Entrar</a></li>
                                    {%else%}
                                        <li><a href='#'>Configurações</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{path("logout")}}">Sair</a></li>
                                    {% endif%}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Ajuda</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        {% endif %}


    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
    {% if app.user != null%}
        <div style="height: 10px"></div>
        <footer class="site-footer">
            {#Sibrax#}
        </footer>
    {% endif %}
</html>
