{% extends 'base.html.twig' %}

{% block body %}

    <div class="container min_height">

        <div class="row">
            <div class="col-md-10" style="min-width: 100px">
                <h1 class="pagination-centered">Completar registro...</h1>
            </div>
        </div>

        <br/>

        <div class="row center">
            <div class="col-md-10" style="min-width: 100px">
                <h3 class="pagination-centered">Alguns dados são necessários para você começar a emitir notas...</h3>
            </div>
        </div>

        <br/>

        <div class="row">
            <ul class="progressbar">
                <li id="progressbar1" class="active">endereço</li>
                <li id="progressbar2">login</li>
                <li id="progressbar3">cliente</li>
                <li id="progressbar4">serviço</li>
            </ul>
        </div>

        {#<div id="cadastro_menu" class="container padding-top center" style="font-size: 18px; padding-bottom: 5px">Endereço</div>#}
        <br/>

        <div style="max-width: 84%">

            {#Endereço#}
            <div id="cadastro_endereco" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row padding-top">

                            <div class="col-md-12">
                                <div class="">
                                    <p>&bull; Por favor preencha o endereço de sua empresa.</p>
                                    <br/>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="">
                                    <label>Cep</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.cep }}" id="empresa_cep" name="empresa_cep" class="form-control"  placeholder="99999000">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="">
                                    <label>Endereço</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.endereco }}" id="empresa_endereco" name="empresa_endereco" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="">
                                    <label>Número</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.numero }}" id="empresa_numero" name="empresa_numero" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="">
                                    <label>Bairro</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.bairro }}" id="empresa_bairro" name="empresa_bairro" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="">
                                    <label>Complemento</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.complemento }}" id="empresa_complemento" name="empresa_complemento" class="form-control" placeholder="" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row padding-top">

                            <div class="col-md-2">
                                <div class="">
                                    <label>Cidade</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.cidade }}" id="empresa_cidade" name="empresa_cidade" class="form-control" placeholder="" >
                                    <input type="hidden" value="{{ empresa.codCid }}" id="empresa_cod_cidade" name="empresa_cod_cidade" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="">
                                    <label>UF</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.uf }}" id="empresa_uf" name="empresa_uf" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-6">
                            </div>

                            <div class="col-md-3" style="padding-top: 5px">
                                <div><label></label></div>
                                <div>
                                    <input id="continuar_passo2" type="button" class="btn btn-success" value="Continuar >>"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {#Nota Serviço#}
            <div id="cadastro_nota" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row padding-top">

                            <div class="col-md-12">
                                <div class="">
                                    <p>&bull; Cadastro de Login de sua prefeitura.</p>
                                    <p>&bull; Para Emissão de <strong>Nota Fiscal de Serviços</strong>, é necessário que estes dados estejam preenchidos pois serão utilizados para a emissão da nota.</p>
                                    <p>&bull; Tipo Emissão: Homologação: Usado para emitir notas em testes, não possui valor fiscal e pode emitir quantas notas forem necessárias.</p>
                                </div>
                            </div>
                        </div>


                        <div class="row padding-top">

                            <div class="col-md-2">
                                <div class="">
                                    <label>CMC</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.cmc }}" id="empresa_cmc" name="empresa_cmc" class="form-control"  placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="">
                                    <label>CPF</label>
                                </div>
                                <div>
                                    <input type="text" value="{{ empresa.cpfPrefeitura }}" id="empresa_cpf_prefeitura" name="empresa_cpf_prefeitura" class="form-control"  placeholder="" >
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="">
                                    <label>Senha</label>
                                </div>
                                <div>
                                    <input type="password" value="{{ empresa.senhaPrefeitura }}" id="empresa_senha_prefeitura" name="empresa_senha_prefeitura" class="form-control"  placeholder="" >
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="">
                                    <label>Tipo Emissão</label>
                                </div>
                                <div>
                                    <select class="form-control" id="empresa_tipo_emissao" name="empresa_tipo_emissao">
                                        <option {% if empresa.producao == 'N' %}selected{% endif %} value="N">Homologação (Testes)</option>
                                        <option {% if empresa.producao == 'S' %}selected{% endif %} value="S">Produção (Emissão Normal)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3" style="padding-top: 5px">
                                <div><label></label></div>
                                <div>
                                    <input id="continuar_passo3" type="button" class="btn btn-success" value="Continuar >>"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {#Cliente#}
            <div id="cadastro_cliente" class="container">

                {#linha 1#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row padding-top">

                            <div class="col-md-12">
                                <div class="">
                                    <p>&bull; Cadastrar um cliente para poder emitir nota (Não Obrigatório caso já possua algum cliente cadastrado).</p>
                                    <br/>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="">
                                    <label>CPF/CNPJ</label>
                                </div>
                                <div>
                                    <input type="text" id="cliente_cpfcnpj" name="cliente_cpfcnpj" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="">
                                    <label>Nome Cliente</label>
                                </div>
                                <div>
                                    <input type="text" id="cliente_nome" name="cliente_nome" class="form-control" placeholder="Digite o nome">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="">
                                    <label>Email</label>
                                </div>
                                <div>
                                    <input type="email" id="cliente_email" name="cliente_email" class="form-control" placeholder="" >
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="">
                                    <label>Cep</label>
                                </div>
                                <div>
                                    <input type="text" id="cliente_cep" name="cliente_cep" class="form-control" placeholder="00000111" >
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {#linha 2#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row padding-top">

                            <div class="col-md-3">
                                <div class="">
                                    <label>Endereço</label>
                                </div>
                                <div>
                                    <input type="text" id="cliente_endereco" name="cliente_endereco" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="">
                                    <label>Número</label>
                                </div>
                                <div>
                                    <input type="text" id="cliente_numero" name="cliente_numero" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="">
                                    <label>Bairro</label>
                                </div>
                                <div>
                                    <input type="text" id="cliente_bairro" name="cliente_bairro" class="form-control" placeholder="" >
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="">
                                    <label>Cidade</label>
                                </div>
                                <div>
                                    <input type="text" id="cliente_cidade" name="cliente_cidade" class="form-control" placeholder="" >
                                    <input type="hidden" id="cliente_codCidade" name="cliente_codCidade" class="form-control" placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="">
                                    <label>UF</label>
                                </div>
                                <div>
                                    <input type="text" id="cliente_uf" name="cliente_uf" class="form-control" placeholder="" >
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {#linha 3#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row padding-top">

                            <div class="col-md-6">
                                <div><label></label></div>
                                <div>
                                </div>
                            </div>

                            <div class="col-md-3" style="padding-top: 5px">
                                <div><label></label></div>
                                <div>
                                    <input id="continuar_passo4_sem_cadastro" type="button" class="btn btn-primary" value="Cadastrarei mais tarde"/>
                                </div>
                            </div>

                            <div class="col-md-3" style="padding-top: 5px">
                                <div><label></label></div>
                                <div>
                                    <input id="continuar_passo4" type="button" class="btn btn-success" value="Continuar >>"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            {#Cadastro Serviço#}
            <div id="cadastro_servico" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row padding-top">

                            <div class="col-md-12">
                                <div class="">
                                    <p>&bull; Selecione um serviço que sua empresa fornecerá.</p>
                                </div>
                            </div>
                        </div>


                        <div class="row padding-top">


                            <div class="col-md-2" style="min-width: 120px">
                                <div class="">
                                    <label>#Cód.Serviço</label>
                                </div>
                                <div class="input-group">
                                    <input type="text" id="cadastro_cod_servico" name="cadastro_cod_servico" class="form-control" placeholder="" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modalServicos"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="">
                                    <label>Nome do Serviço</label>
                                </div>
                                <div>
                                    <input type="text" id="cadastro_nome_servico" name="cadastro_nome_servico" class="form-control"  placeholder="" >
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="">
                                    <label>Valor</label>
                                </div>
                                <div>
                                    <input type="text" id="cadastro_valor_servico" name="cadastro_valor_servico" class="form-control"  placeholder="" >
                                </div>
                            </div>

                            <div class="col-md-1">
                                <input type="hidden" value="" id="cadastro_iss_servico" name="cadastro_iss_servico">
                                <input type="hidden" value="" id="cadastro_irrf_servico" name="cadastro_irrf_servico">
                                <input type="hidden" value="" id="cadastro_csl_servico" name="cadastro_csl_servico">
                                <input type="hidden" value="" id="cadastro_pis_servico" name="cadastro_pis_servico">
                                <input type="hidden" value="" id="cadastro_cofins_servico" name="cadastro_cofins_servico">
                            </div>

                            <div class="col-md-3" style="padding-top: 5px">
                                <div><label></label></div>
                                <div>
                                    <input id="continuar_finalizar_cadastro" type="button" class="btn btn-success" value="Finalizar"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {#Finalizado#}
            <div id="cadastro_finalizado" class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row padding-top center" style="font-size: 20px">
                            <div class="col-md-12">
                                <div class="">
                                   <span class="glyphicon glyphicon-ok-sign"></span> <p>Pronto! Agora você pode emitir suas notas com tranquilidade.</p>
                                </div>
                                <div class="center">
                                    <input type="button" class="btn btn-success" value="Emitir nota" id="emitir_nota">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal Lista Servicos -->
    <div class="modal fade" id="modalServicos" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Lista de Serviços</h4>
                </div>
                <div class="modal-body">
                    <div class="padding-bottom">
                        <input type="text" class="search form-control" placeholder="Procurar">
                    </div>
                    <div class="tabela_servicos">
                        <table class="table table-bordered table-hover results" id="table_search">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Aliquota</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in listaServicos %}
                                <tr>
                                    <td class="lista_codigo">{{ item.CODIGO }}</td>
                                    <td class="lista_descricao">{{ item.DESCRICAO }}</td>
                                    <td class="lista_aliquota">{{ item.ALIQUOTA }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalServicosVoltar" class="btn btn-default" data-dismiss="modal">Voltar</button>
                    <button type="button" class="btn btn-primary">Selecionar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script>
        $(document).ready(function(){
            $('#empresa_cep').change(function() {

                var selected = $(this).val()
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://api.postmon.com.br/v1/cep/"+selected, false);
                xhr.send();

                if(xhr.statusText == 'OK' && xhr.status == 200){
                    var dadosJson = JSON.parse(xhr.response);

                    var endereco = document.getElementById('empresa_endereco');
                    endereco.value = dadosJson.logradouro;
                    var bairro = document.getElementById('empresa_bairro');
                    bairro.value = dadosJson.bairro;
                    var cidade = document.getElementById('empresa_cidade');
                    cidade.value = dadosJson.cidade;
                    var estado = document.getElementById('empresa_uf');
                    estado.value = dadosJson.estado;
                    var codIbge = document.getElementById('empresa_cod_cidade');
                    codIbge.value = dadosJson.cidade_info.codigo_ibge;
                }

            });

            $('#cliente_cep').change(function() {

                var selected = $(this).val()
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://api.postmon.com.br/v1/cep/"+selected, false);
                xhr.send();

                if(xhr.statusText == 'OK' && xhr.status == 200){
                    var dadosJson = JSON.parse(xhr.response);

                    var endereco = document.getElementById('cliente_endereco');
                    endereco.value = dadosJson.logradouro;
                    var bairro = document.getElementById('cliente_bairro');
                    bairro.value = dadosJson.bairro;
                    var cidade = document.getElementById('cliente_cidade');
                    cidade.value = dadosJson.cidade;
                    var estado = document.getElementById('cliente_uf');
                    estado.value = dadosJson.estado;
                    var codIbge = document.getElementById('cliente_codCidade');
                    codIbge.value = dadosJson.cidade_info.codigo_ibge;
                }

            });

            $(".search").keyup(function () {
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                }
                });

                $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','false');
                });

                $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','true');
                });
                var jobCount = $('.results tbody tr[visible="true"]').length;
                $('.counter').text(jobCount + ' item');

                if(jobCount == '0') {
                    $('.no-result').show();
                }else {
                    $('.no-result').hide();
                }
            });

            //Seleciona o serviço no modal
            $('#table_search > tbody > tr').dblclick(function () {
//                $('#modalServicos').modal('toggle');

                var inputCodigo = document.getElementById('cadastro_cod_servico');
                var inputNome   = document.getElementById('cadastro_nome_servico');
                var inputISS    = document.getElementById('cadastro_iss_servico');

                document.getElementById('cadastro_irrf_servico').value = 0;
                document.getElementById('cadastro_csl_servico').value = 0;
                document.getElementById('cadastro_pis_servico').value = 0;
                document.getElementById('cadastro_cofins_servico').value = 0;

                inputCodigo.value = $(this).find(".lista_codigo").text();
                inputISS.value = $(this).find(".lista_aliquota").text();
                inputNome.value = $(this).find(".lista_descricao").text();

                $('#modalServicosVoltar').trigger('click');
            });
        });

        jQuery(document).ready(function () {
            $('#continuar_passo2').click(function (e) {

                var cep = document.getElementById('empresa_cep').value;
                var endereco = document.getElementById('empresa_endereco').value;
                var numero = document.getElementById('empresa_numero').value;
                var bairro = document.getElementById('empresa_bairro').value;
                var cidade = document.getElementById('empresa_cidade').value;
                var uf = document.getElementById('empresa_uf').value;
                var codCid = document.getElementById('empresa_cod_cidade').value;

                if(cep==null || cep=="" || endereco==null || endereco=="" || numero==null || numero=="" || bairro==null || bairro=="" ||
                    cidade==null || cidade=="" || uf==null || uf==""){
                    alert('Por favor preencha os campos antes de continuar.');
                    return false;
                }

                var dados = {'passo' : 'passo1', 'cep' : cep, 'endereco' : endereco, 'numero' : numero, 'bairro' : bairro, 'cidade' : cidade,
                             'uf' : uf, 'codCidade' : codCid};

                jQuery.ajax({
                    type: "POST",
                    url: "registra_cadastro",
                    data: dados,
                    success: function (data) {
                        if (data.success == false) {
                            alert('Erro ao salvar este cadastro. Erros: ' + data.msg);
                            return false;
                        }
                    }
                });

                e.stopPropagation();
                $('#cadastro_endereco').hide('slide', {direction: 'left'}, 1400);
                $('#cadastro_nota').stop().show('slide', {direction: 'right'}, 1400);
                document.getElementById('progressbar2').setAttribute('class', 'active');
            });

            $('#continuar_passo3').click(function (e) {

                var cmc = document.getElementById('empresa_cmc').value;
                var cpfprefeitura = document.getElementById('empresa_cpf_prefeitura').value;
                var senhaprefeitura = document.getElementById('empresa_senha_prefeitura').value;
                var tipoemissao = document.getElementById('empresa_tipo_emissao').value;

                if(cmc==null || cmc=="" || cpfprefeitura==null || cpfprefeitura=="" ||
                        senhaprefeitura==null || senhaprefeitura=="" || tipoemissao==null || tipoemissao==""){
                    alert('Por favor preencha os campos antes de continuar.');
                    return false;
                }

                var dados = {'passo' : 'passo2', 'cpfprefeitura' : cpfprefeitura, 'cmc' : cmc,
                             'senhaprefeitura' : senhaprefeitura, 'tipoemissao' : tipoemissao
                            };

                jQuery.ajax({
                    type: "POST",
                    url: "registra_cadastro",
                    data: dados,
                    success: function (data) {
                        if (data.success == false) {
                            alert('Erro ao salvar este cadastro. Erros: ' + data.msg);
                            return false;
                        }
                    }
                });

                e.stopPropagation();
                $('#cadastro_nota').hide('slide', {direction: 'left'}, 1400);
                $('#cadastro_cliente').stop().show('slide', {direction: 'right'}, 1400);
                document.getElementById('progressbar3').setAttribute('class', 'active');
            });

            $('#continuar_passo4_sem_cadastro').click(function (e) {
                e.stopPropagation();
                $('#cadastro_cliente').hide('slide', {direction: 'left'}, 1400);
                $('#cadastro_servico').stop().show('slide', {direction: 'right'}, 1400);
                document.getElementById('progressbar4').setAttribute('class', 'active');
            });

            $('#continuar_passo4').click(function (e) {

                var nomeCliente = document.getElementById('cliente_nome').value;
                var cepCliente = document.getElementById('cliente_cep').value;
                var enderecoCliente = document.getElementById('cliente_endereco').value;
                var numeroCliente = document.getElementById('cliente_numero').value;
                var bairroCliente = document.getElementById('cliente_cidade').value;
                var ufCliente = document.getElementById('cliente_uf').value;
                var emailCliente = document.getElementById('cliente_email').value;
                var codCidCliente = document.getElementById('cliente_codCidade').value;
                var cidadeCliente = document.getElementById('cliente_cidade').value;
                var cpfcnpjCliente = document.getElementById('cliente_cpfcnpj').value;

                if(nomeCliente==null || nomeCliente=="" || cepCliente==null || cepCliente=="" || enderecoCliente==null || enderecoCliente=="" ||
                   numeroCliente==null || numeroCliente=="" || bairroCliente==null || bairroCliente=="" || ufCliente==null || ufCliente=="" ||
                   emailCliente==null || emailCliente=="" || cidadeCliente==null || cidadeCliente=="" || cpfcnpjCliente==null || cpfcnpjCliente==""){
                    alert('Preencha todos os campos por favor.');
                    return false;
                }

                var dados = {'passo' : 'passo3', 'nomeCliente' : nomeCliente, 'cepCliente' : cepCliente, 'enderecoCliente' : enderecoCliente,
                    'numeroCliente' : numeroCliente, 'bairroCliente' : bairroCliente, 'ufCliente' : ufCliente, 'emailCliente' : emailCliente,
                    'codCidCliente' : codCidCliente, 'cidadeCliente' : cidadeCliente, 'cpfcnpjCliente' : cpfcnpjCliente
                };

                jQuery.ajax({
                    type: "POST",
                    url: "registra_cadastro",
                    data: dados,
                    success: function (data) {
                        if (data.success == false) {
                            alert('Erro ao salvar este cadastro. Erros: ' + data.msg);
                            return false;
                        }
                    }
                });

                e.stopPropagation();
                $('#cadastro_cliente').hide('slide', {direction: 'left'}, 1400);
                $('#cadastro_servico').stop().show('slide', {direction: 'right'}, 1400);
                document.getElementById('progressbar4').setAttribute('class', 'active');
            });

            $('#continuar_finalizar_cadastro').click(function (e) {

                var codServ    = document.getElementById('cadastro_cod_servico').value;
                var nomeServ   = document.getElementById('cadastro_nome_servico').value;
                var valorServ  = document.getElementById('cadastro_valor_servico').value;
                var issServ    = document.getElementById('cadastro_iss_servico').value;
                var irrfServ   = document.getElementById('cadastro_irrf_servico').value;
                var cslServ    = document.getElementById('cadastro_csl_servico').value;
                var pisServ    = document.getElementById('cadastro_pis_servico').value;
                var cofinsServ = document.getElementById('cadastro_cofins_servico').value;

                if(codServ=="" || codServ==null || nomeServ=="" || nomeServ==null || valorServ=="" || valorServ==null ||
                   issServ=="" || issServ==null || irrfServ=="" || irrfServ==null || cslServ=="" || cslServ==null ||
                   pisServ=="" || pisServ==null || cofinsServ=="" || cofinsServ==null){
                    alert('Por favor preencha todos os campos.');
                    return false;
                }

                var dados = {'passo' : 'passo4', 'codServ' : codServ, 'nomeServ' : nomeServ, 'valorServ' : valorServ, 'issServ' : issServ,
                    'irrfServ' : irrfServ, 'cslServ' : cslServ, 'pisServ' : pisServ, 'cofinsServ' : cofinsServ
                };

                jQuery.ajax({
                    type: "POST",
                    url: "registra_cadastro",
                    data: dados,
                    success: function (data) {
                        if (data.success == false) {
                            alert('Erro ao salvar este cadastro. Erros: ' + data.msg);
                            return false;
                        }
                    }
                });

                e.stopPropagation();
                $('#cadastro_servico').hide('slide', {direction: 'left'}, 1400);
                $('#cadastro_finalizado').stop().show('slide', {direction: 'right'}, 1400);
            });

            $('#emitir_nota').click(function (e) {
                var url = '{{ path("nota_new") }}';
                url = url.replace("region_id", this.value);
                window.location.href = url;
            });
        });
    </script>

    <style>
        body {
            /*font-family: 'Alegreya Sans', sans-serif;*/
            margin: 0;
            padding: 0;
        }

        #cadastro_nota, #cadastro_cliente, #cadastro_finalizado, #cadastro_servico {
            display: none;
            border: 1px solid #ddd;
            padding-bottom: 1%;
            /*max-width: 84%;*/
            /*float: right;*/
            z-index:1;
            position: absolute;
        }

        #cadastro_endereco {
            border: 1px solid #ddd;
            padding-bottom: 1%;
            /*max-width: 84%;*/
            /*float: right;*/
            z-index:1;
            position: absolute;
        }

        .progressbar {
            margin: 0;
            padding: 0;
            counter-reset: step;
        }
        .progressbar li {
            list-style-type: none;
            width: 25%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }
        .progressbar li:before {
            width: 30px;
            height: 30px;
            content: counter(step);
            counter-increment: step;
            line-height: 30px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
        }
        .progressbar li:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            top: 15px;
            left: -50%;
            z-index: -1;
        }
        .progressbar li:first-child:after {
            content: none;
        }
        .progressbar li.active {
            color: green;
        }
        .progressbar li.active:before {
            border-color: #55b776;
        }
        .progressbar li.active + li:after {
            background-color: #55b776;
        }

        .results tr[visible='false'],
        .no-result{
            display:none;
        }

        .results tr[visible='true']{
            display:table-row;
        }
        .tabela_servicos{
            height: 380px !important;
            overflow: scroll;
        }

        .tabela_servicos tr {
            cursor: pointer;
        }

        .table-striped tbody tr:nth-child(odd) td {
            background-color: green;
        }

        .table-striped tbody tr.highlight td {
            background-color: red;
        }
    </style>

    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
