{% extends 'base.html.twig' %}
{% block body %}

    {% if app.user != null%}
        <meta http-equiv="refresh" content="0; url={{ path('homepage') }}" />
    {% endif %}

    <div class="container">


            <button id="botaoCaptcha"  class="btn btn-secondary" type="button" data-toggle="modal" data-target="#captchaModal" style="display: none">
                </button>


        <div class="row" style="max-width: 70%; margin:0 auto;">
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>

        <div class="row" style="max-width: 70%; margin:0 auto;">

            <div class="col-md-6">
                <div class="DivLogin" style="max-width: 70%; margin:0 auto;">
                    <h3 class="tituloLogin center">Entrar</h3><br>
                    <form action="{{path("login")}}" method="post">
                        <label>Email:</label>
                        <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" />

                        <label>Senha:</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                        <br/>
                        <input type="submit" value="Entrar" class="btn btn-success"/>
                        <input type="hidden" name="_target_path" value="/login" />
                    </form>
                </div>
            </div>

            <div class="col-md-6" style="border-left: 1px solid #ddd; padding-left: 5%">
                <div class="DivRegistro" style="max-width: 70%; margin:0 auto;" >
                    <h3 class="tituloLogin center">Registrar</h3><br>
                    <form action="{{path("login_cadastro")}}" method="post">
                        <div class="DivRegistroParte1">
                            <label>CNPJ:</label>
                            <input type="text" id="cnpj_emp" name="_cnpj_emp" class="form-control" required/>
                            <label>Nome Empresa:</label>
                            <input type="text" id="name_emp" name="_name_emp" class="form-control" required/>
                            <label>Nome Completo:</label>
                            <input type="text" id="name" name="_name" class="form-control" required/>
                            <label>Email:</label>
                            <input type="email" id="email" name="_email" value="{{ last_username }}" class="form-control" required />
                            <label>Senha:</label>
                            <input type="password" id="password_reg" name="_password" class="form-control" required/>
                            <br/>
                            <input type="hidden" id="empresa_razao_social" value="">
                            <input type="hidden" id="nome_fantasia" value="">
                            <input type="hidden" id="empresa_fundacao" value="">
                            <input type="hidden" id="empresa_endereco" value="">
                            <input type="hidden" id="empresa_numero" value="">
                            <input type="hidden" id="empresa_complemento" value="">
                            <input type="hidden" id="empresa_bairro" value="">
                            <input type="hidden" id="empresa_cep" value="">
                            <input type="hidden" id="empresa_cidade" value="">
                            <input type="hidden" id="empresa_uf" value="">

                            <input type="submit" value="Registrar" class="btn btn-success"/>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    {#<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="loginmodal-container">#}

                {#<h4 class="modal-title" id="myModalLabel">Captcha</h4>#}

                {#<div class="modal-body">#}

                    {#<div class="">#}
                        {#<p>&bull; Por favor digite o Captcha.</p>#}
                    {#</div>#}

                    {#<div style="border: 1px solid #ddd;">#}
                        {#<img src="{{ params['captchaBase64'] }}" width="100%" />#}
                    {#</div>#}

                    {#<input type="hidden" id="cookie" name="cookie" value="{{ params['cookie'] }}">#}

                    {#<br/>#}
                    {#<div class="pad">#}
                        {#<input type="text" id="captcha" class="form-control" placeholder="digite o captcha aqui"/>#}
                    {#</div>#}
                    {#<br/>#}

                    {#<div class="">#}
                        {#<button id="btnconsultacnpj" type="button" class="form-control">Pronto!</button>#}
                    {#</div>#}
                {#</div>#}


            {#</div>#}
        {#</div>#}
    {#</div>#}

    <!-- Modal -->
    <div class="modal fade" id="captchaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Captcha</h4>
                </div>
                <div class="modal-body">
                    <img src="" /><br /><br />
                    <input type="text" class="form-control" id="captcha" placeholder="Informe os caracteres da imagem acima" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btnconsultacnpj">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#cnpj_emp').on('blur', function() {

                var cnpj = document.getElementById('cnpj_emp').value;
                cnpj = cnpj.replace(".", "");
                cnpj = cnpj.replace("-", "");
                cnpj = cnpj.replace("/", "");
                cnpj = cnpj.replace(".", "");

                if(cnpj.length == 14){
                    $('#botaoCaptcha').trigger('click');
                }else{
                    return false;
                }

            });

            $('#btnconsultacnpj').on('click', function () {

                var btn = $(this);
                var old = btn.html();

                var param = {
                    cnpj: $("#cnpj_emp").val(),
                    captcha: $("#captcha").val(),
                    cookie: $("#cookie").val()
                };

                btn.html('Aguarde! Consultando..');

                $.post("consultaCnpjCadastro", param, function(json) {

                   if (json.code === 0) {
                        alert('Aeeeeee');
                        $('#empresa_razao_social').val(json.razao_social);
                        $('#empresa_nome_fantasia').val(json.nome_fantasia);
                        $('#empresa_fundacao').val(json.data_abertura);
                        $('#empresa_endereco').val(json.logradouro);
                        $('#empresa_numero').val(json.numero);
                        $('#empresa_complemento').val(json.complemento);
                        $('#empresa_bairro').val(json.bairro);
                        $('#empresa_cep').val(json.cep);
                        $('#empresa_cidade').val(json.cidade);
                        $('#empresa_uf').val(json.uf);

                    } else {
//                       $.getJSON("http://receitaws.com.br/v1/cnpj/" +  $("#cnpj_emp").val(), function(data) {
//                           alert(data)
//                       });
                   }
                    btn.html(old);
                    $('#captchaModal').modal('hide');
                }, "json");

                $('#login-modal').modal('toggle');

            });

        });

    </script>

    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto);

        html {
            height: 100%;
        }
        body {
            background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d9edf7)) fixed;
            /*#cbccc8*/
        }

        /****** LOGIN MODAL ******/
        .loginmodal-container {
            padding: 30px;
            max-width: 350px;
            width: 100% !important;
            background-color: #F7F7F7;
            margin: 0 auto;
            border-radius: 2px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            font-family: roboto;
        }

        .loginmodal-container h1 {
            text-align: center;
            font-size: 1.8em;
            font-family: roboto;
        }

        .loginmodal-container input[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
        }

        .login-back{
            font-size: 12px;
            padding-top: 10px;
        }
    </style>
{% endblock %}