{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <form class="" method="post" action="" id=lancamentos_form">

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1 class="padding-bottom">Baixa de Conta</h1>
                </div>
            </div>

            <div class="row row-centered">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row padding-top">
                        <div class="col-xs-2">
                            <label>Tipo de Conta: </label>
                            {% if conta.tipoConta == 'PAGAR' %}
                                <input type="text" disabled class="form-control" value="A Pagar"/>
                            {% else %}
                                <input type="text" disabled class="form-control" value="A Receber"/>
                            {% endif %}
                        </div>

                        <div class=" col-xs-3">
                            <div class="float-left no-padding-left col-xs-4">
                                <label>Cliente</label>
                            </div>
                            {#<input type="text" style="display:none" id="idCliente" name="idCliente">#}
                            <input type="text" disabled id="NomeCliente" name="NomeCliente" class="NomeCliente form-control" required="required"
                                   value="({{ conta.idCliente }}) {{ conta.nome }}" placeholder="Digite o nome do cliente" onchange="">
                        </div>

                        <div class="col-xs-3 fix-padding">
                            <label>Número Documento</label>
                            <div class="input-append">
                                <input type="text" disabled id="numeroDocumento" name="numeroDocumento" class="form-control" value="{{ conta.numeroDocumento }}"
                                       data-format="dd/MM/yyyy" required="required" placeholder="Digite o número do doc.">
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <label>Valor Total</label>
                            <div class="input-append">
                                <input type="text" disabled id="valorTotalDocumento" name="valorTotalDocumento" class="form-control" value="{{ conta.valorTotal|number_format(2, ',', '') }}"
                                       required="required" placeholder="0,00" style="text-align: right">
                            </div>
                        </div>
                    </div>


                    <div class="row padding-top">
                        <label style="display: block" class="padding-left">Parcelas</label>
                        <div class="col-xs-10">
                            <table class="tabelaLancamentos table table-bordered" id="tabelaLancamentos">
                                <thead>
                                <tr>
                                    <th><div class="text-center">Vencimento</div></th>
                                    <th><div class="text-right">Valor</div></th>
                                    <th><div class="text-right">Valor Pago</div></th>
                                    <th><div class="text-right">Saldo</div></th>
                                    <th><div class="text-center">Histórico</div></th>
                                    <th class=""></th>
                                </tr>
                                </thead>

                                <tbody>

                                {% set count = 0 %}
                                {% for item in items %}
                                    <tr>
                                        <td><input type="text" id="itemVencimento{{ count }}" name="itemVencimento{{ count }}" class="text-center ContaItem"
                                                   value="{{ item.data_vencimento|date('d/m/Y') }}" data-format="dd/MM/yyyy" required="required" placeholder="DD/MM/AAAA"></td>

                                        <td><input type="text" id="itemValor{{ count }}" name="itemValor{{ count }}" class="text-right ContaItem" required="required"
                                                   value="{{ item.valor|number_format(2, ',', '') }}" placeholder="0,00"></td>

                                        <td><input type="text" id="itemValorPago{{ count }}" name="itemValorPago{{ count }}" class="text-right ContaItem"
                                                   value="{{ item.valorPago|number_format(2, ',', '') }}" placeholder="0,00"></td>

                                        <td><input type="text" id="itemSaldo{{ count }}" name="itemSaldo{{ count }}" class="text-right ContaItem"
                                                   value="{{ item.saldo|number_format(2, ',', '') }}" placeholder="0,00"></td>

                                        <td><input type="text" id="itemHistorico{{ count }}" name="itemHistorico{{ count }}" class="text-center ContaItem"
                                                   value="{{ item.historico }}" ></td>

                                        {#<td href="#" id="btnRemoveLinha" class="sale-delete-row">×</td>#}
                                        <td>
                                            <button type="button" data-id="{{ count }}" id="{{ item.id }}" class="btn btn-xs btn-success open-Modal" data-toggle="modal" data-target="#myModal">
                                                Pagar
                                            </button>
                                        </td>
                                    </tr>

                                    {% set count = count + 1%}
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>


                    <div class="row padding-top">
                        {#<div class="col-xs-1">#}
                            {#<input href="#" type="submit" class="abutton" value="Salvar" id="btnSave" name="Salvar">#}
                        {#</div>#}

                        <div class="col-xs-1" >
                            <a class="abuttonVoltar" href="{{ path('contas_index') }}">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pagamento</h4>
                </div>
                <div class="modal-body">
                    {#Div de Pagamentos#}
                    <input type="hidden" id="idConta" value="">
                    <div id="grid_pagamentos">
                        <div class="row">
                            <label class="col-xs-3 control-label padding-left">Valor Total: </label>
                            <div class="col-xs-2">
                                <input type="text" class="" id="valorTot" value="">
                            </div>


                            <label class="col-xs-3 control-label">Desconto: </label>
                            <div class="col-xs-2">
                                <input type="text" class="" id="valorTotDesconto" value="0,00">
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-xs-3 control-label padding-left">Valor Pago: </label>
                            <div class="col-xs-2">
                                <input type="text" class="" id="valorPago" value="0,00">
                            </div>

                            <label class="col-xs-3 control-label">Juros: </label>
                            <div class="col-xs-2">
                                <input type="text" class="" id="valorTotAcrescimo" value="0,00">
                            </div>
                        </div>

                        {#<div class="row">#}
                            {#<label class="col-sm-4 control-label padding-left">Troco: </label>#}
                            {#<div class="col-sm-3">#}
                                {#<input type="text" class="" id="valorTroco" value="0,00">#}
                            {#</div>#}
                        {#</div>#}

                        <div class="row padding-top">
                            <div class="padding-left padding-right">
                                <table id="table_pgtos" class="table table-bordered center padding-left table-pagamento">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Data Recebimento</th>
                                        <th class="text-center">Forma Pagamento</th>
                                        <th class="text-right">Valor Pago</th>
                                        <th class="text-right">Desconto</th>
                                        <th class="text-right"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        {#<td><input type="text"></td>#}
                                        {#<td><input type="text"></td>#}
                                        {#<td><input type="text"></td>#}
                                        {#<td><input type="text"></td>#}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row padding-top">
                        <div class="col-sm-1">
                            <button id="addFormPag" class="btn btn-sm btn-link" onclick="GeraNovoPgto()">Adicionar Pagamento</button>
                        </div>
                    </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="FinalizarPagamento">Salvar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="{{ asset('assets/js/contas.js') }}"></script>

    <script>

        $(document).on('blur', '.Calculos', function () {
            CalculaPgto();
        })

        $(document).on("click", ".open-Modal", function () {
            var id = $(this).data('id');
            var totPago  = document.getElementById('valorPago');
            var totPagar = document.getElementById('valorTot');

            totPago.value = '0.00';
            totPagar.value = '0.00';

            var total = document.getElementById('itemValor'+id);

            totPagar.value = total.value;

            var table = document.getElementById('table_pgtos');
            var rowCount = table.rows.length;
            for (var i=rowCount-1; i >=1; i--) {
                table.deleteRow(i);
            }

            $("#grid_pagamentos").show();

            var idConta = $(this).attr('id');
            var idC = document.getElementById('idConta');
            idC.value = idConta;

            jQuery.ajax({
                type: "POST",
                url: "getPagamentos",
                data: {idConta: idConta},
                success: function (data) {
                    for(var i=0; i <= data.length -1; i++){
                        AddPagamento(FormataData(data[i].data_lancamento), data[i].forma_pagamento, data[i].valor, data[i].desconto, 1);
                    }
                    CalculaPgto();
                }
            });

        });


        function AddPagamento(dataPgto = null, formaPG = 'Dinheiro', val = 0, desc = 0, tpPg) {

            var table     = document.getElementById('table_pgtos');
            var numOfRows = table.rows.length;
            var newRow = table.insertRow(numOfRows);
            var rowNumber = numOfRows - 1;
            var dataHoje = null;
            if(dataPgto == null)
                dataHoje = getToday();
            else
                dataHoje = dataPgto;

            val = parseFloat(val).toFixed(2);
            desc = parseFloat(desc).toFixed(2);

            newCell = newRow.insertCell(0);
            newCell.innerHTML = '<input type="text" value="'+dataHoje+'" id="tableDataPagto' + rowNumber + '" name="tableDataPagto' + rowNumber + '" class="text-center">';

            newCell = newRow.insertCell(1);
            newCell.innerHTML = '<select class="" id="tableFormaPagamento' + rowNumber + '" name="tableFormaPagamento' + rowNumber + '"><option value="Dinheiro">Dinheiro</option><option value="Cartao">Cartão</option><option value="Cheque">Cheque</option></select>';

            newCell = newRow.insertCell(2);
            newCell.innerHTML = '<input type="text" value="'+val+'" id="tableValorPagto' + rowNumber + '" name="tableValorPagto' + rowNumber + '" class="text-right Calculos">';

            newCell = newRow.insertCell(3);
            newCell.innerHTML = '<input type="text" value="'+desc+'" id="tableDesconto' + rowNumber + '" name="tableDesconto' + rowNumber + '" class="text-right Calculos">';

            newCell = newRow.insertCell(4);
            newCell.innerHTML = '×';
            newCell.setAttribute('onclick', 'RemoveTableRow(this)');
            newCell.setAttribute('id', 'btnRemoveLinha');
            newCell.setAttribute('class', 'sale-delete-row');

            var select = document.getElementById('tableFormaPagamento'+ rowNumber);
            select.value = formaPG;

            newRow.id = 'row'+rowNumber;

            if(tpPg == 1)
                DisableRow('#row'+rowNumber);
        }

        function DisableRow(trLinha) {
//            var td = document.getElementById(trLinha).disabled = true;
//            $.ajax(trLinha).prop("disabled",false);
        }

        function getToday() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!

            var yyyy = today.getFullYear();
            if(dd<10){
                dd='0'+dd
            }
            if(mm<10){
                mm='0'+mm
            }
            var today = dd+'/'+mm+'/'+yyyy;
            return today;
        }

        function CalculaPgto() {

            var table    = document.getElementById('table_pgtos');
            var soma     = 0.0;
            var desc     = 0.0;
            var aux      = 0.0;
            var totPago  = document.getElementById('valorPago');
            var valorTot = document.getElementById('valorTot');
            var desconto = document.getElementById('valorTotDesconto');
            var acrescimo= document.getElementById('valorTotAcrescimo');

            for (var i = 1, row; row = table.rows[i]; i++) {

                for (var j = 0, col; col = row.cells[j]; j++) {

                    if (j == 2) {
                        soma += parseFloat(col.firstChild.value);
                        aux = parseFloat(col.firstChild.value);
                        col.firstChild.value = aux.toFixed(2);
                    }

                    if (j == 3) {
                        desc += parseFloat(col.firstChild.value);
                        aux = parseFloat(col.firstChild.value);
                        col.firstChild.value = aux.toFixed(2);
                    }
                }
            }

            totPago.value = soma.toFixed(2);
            desconto.value = desc.toFixed(2);

            acrescimo.value = 0.0;
            if(parseFloat(totPago.value) > parseFloat(valorTot.value)){
                acrescimo.value = (parseFloat(totPago.value) - parseFloat(valorTot.value)).toFixed(2);
            }
        }

        jQuery('#FinalizarPagamento').click(function () {

            var table = document.getElementById('table_pgtos');
            var rowLength = table.rows.length;
            var lancs = [];
            var idConta = document.getElementById('idConta');

            for(var i=1; i<rowLength; i+=1){
                var row = table.rows[i];

                lancs[i-1] = {
                        data_pagamento: row.cells[0].children[0].value,
                        forma_pagamento: row.cells[1].children[0].value,
                        valor_pago: row.cells[2].children[0].value,
                        desconto: row.cells[3].children[0].value
                    }
            }

            var acrescimo= document.getElementById('valorTotAcrescimo');
            if(parseFloat(acrescimo.value) > 0){
                var r = confirm("Houve um valor a mais lançado nesta conta! \n Deseja lançar este valor na próxima conta?");
                if (r == true) {
                    RealizaLancamentoNovaConta(acrescimo.value);
                } else {
                    txt = "You pressed Cancel!";
                }
            }

            jQuery.ajax({
                type: "POST",
                url: "salvaLancamentosItemsContas",
                data: {lancamentos: lancs, idConta : idConta.value},
                success: function (data) {
                    alert("Salvo com sucesso!");
                }
            });

            return false;
        });

        function GeraNovoPgto() {
            var valorTotal = document.getElementById('valorTot');
            var valorPago  = document.getElementById('valorPago');
            var restante   = parseFloat(valorTotal.value) - parseFloat(valorPago.value);
            AddPagamento(getToday(), 'Dinheiro', restante, 0, 0);
            CalculaPgto();
        }

        function FormataData(data) {
            return data.substring(8, 10) + '/' + data.substring(5, 7) + '/' + data.substring(0, 4);
        }

        (function ($) {
            RemoveTableRow = function (handler) {
                var tr = $(handler).closest('tr');
                tr.fadeOut(400, function () {
                    tr.remove();
                });
                return false;
            };
        })(jQuery);

        function RealizaLancamentoNovaConta(valor) {

        }
    </script>

{% endblock %}