{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <form class="" method="post" action="" id="contas_form">

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1 class="padding-bottom">{% if tipoConta == 'PAGAR' %}Nova Conta a Pagar{% elseif tipoConta == 'RECEBER' %}Nova Conta a Receber{% endif %}</h1>
                </div>
            </div>

            <div class="row row-centered">
                <div class="col-xs-10 col-xs-offset-1">

                    <div class="row padding-top">
                        <div class="col-xs-2" hidden>
                            {% if tipoConta == 'PAGAR' %}
                                <label>Tipo de Conta: </label>
                                <select id="tipoConta" name="tipoConta" class="form-control"><option value="1">A Pagar</option>
                                    <option value="2">A Receber</option>
                                </select>
                            {% elseif tipoConta == 'RECEBER' %}
                                <label>Tipo de Conta: </label>
                                <select id="tipoConta" name="tipoConta" class="form-control"><option value="2">A Receber</option>
                                    <option value="1">A Pagar</option>
                                </select>
                            {% endif %}
                        </div>

                        <div class=" col-xs-3">
                            <div class="float-left no-padding-left col-xs-4">
                                <label>Cliente</label>
                            </div>
                            <div class="float-right text-right col-xs-8">
                                <a href="" class="customer-edit-link">
                                    Perfil do cliente
                                </a>
                            </div>
                            {#<input type="text" style="display:none" id="idCliente" name="idCliente">#}

                            <div id="scrollable-dropdown-menu">
                                <input type="text" id="NomeCliente" name="NomeCliente" class="typeahead NomeCliente form-control" required="required"
                                       placeholder="Digite o nome do cliente" onchange="">
                            </div>
                        </div>

                        <div class="col-xs-2 fix-padding">
                            <label>Data Vencimento</label>
                            <div class="input-append date" id="datetimepicker1" >
                                <input type="text" id="dataVencimentoNota" name="dataVencimentoNota" class="form-control" value="{{ formValues.data }}"
                                       data-format="dd/MM/yyyy" required="required" placeholder="DD/MM/AAAA">
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                            </div>
                        </div>

                        <div class="col-xs-3 fix-padding">
                            <label>Número Documento</label>
                            <div class="input-append">
                                <input type="text" id="numeroDocumento" name="numeroDocumento" class="form-control" value=""
                                       data-format="dd/MM/yyyy" required="required" placeholder="Digite o número do doc.">
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <label>Conta</label>
                            <div class="input-append">
                                <select name="PlanoContas" id="PlanoContas" class="form-control" data-width="100%">
                                    {% for key,val in plano %}
                                        <option value="{{ val.descricao }}">{{ val.descricao | trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row padding-top">
                        <div class="col-xs-2">
                            <label>Valor Total</label>
                            <div class="input-append">
                                <input type="text" id="valorTotalDocumento" name="valorTotalDocumento" class="form-control" value=""
                                       required="required" placeholder="0,00" style="text-align: right">
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <label>Acréscimos</label>
                            <div class="input-append">
                                <input type="text" id="acrescimos" name="acrescimos" class="form-control" value=""
                                       placeholder="0,00" style="text-align: right">
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <label>Descontos</label>
                            <div class="input-append">
                                <input type="text" id="descontos" name="descontos" class="form-control" value=""
                                       placeholder="0,00" style="text-align: right">
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <label>Histórico</label>
                            <div class="input-append">
                                <input type="text" id="historico" name="historico" class="form-control" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row padding-top">
                        <div class="col-xs-3">
                            <label>Forma de Pagamento</label>
                            <select name="formaPagamento" id="formaPagamento" onchange="habilitaParcelamento()" onblur="lancaValores();"
                                    class="form-control"><option value="1">À Vista</option>
                                                                             <option value="2">À Prazo</option>
                                                                             <option hidden value="3">Cheque</option>
                            </select>
                        </div>

                        <div class="col-xs-2" id="Parcelamento" hidden>
                            <label>Qtd. Parcelas</label>
                            <div class="input-append">
                                <input type="text" id="qtdParcelas" name="qtdParcelas" class="form-control" value=""
                                       placeholder="1x" style="text-align: right" onblur="carregaLinhasLancamento()">
                            </div>
                        </div>


                    </div>

                    <div class="row padding-top">
                        <label style="display: block" class="padding-left">Lançamentos</label>
                        <div class="col-xs-10">
                            <table class="tabelaLancamentos table table-bordered" id="tabelaLancamentos">
                                <thead>
                                <tr>
                                    <th><div class="text-center">Vencimento</div></th>
                                    <th><div class="text-right">Valor</div></th>
                                    <th><div class="text-right">Acréscimo</div></th>
                                    <th><div class="text-right">Desconto</div></th>
                                    <th><div class="text-center">Histórico</div></th>
                                    {#<th><div class="text-center">Centro Custo</div></th>#}
                                    <th class=""></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td><input type="text" id="itemVencimento0" name="itemVencimento0" class="text-center ContaItem"
                                               data-format="dd/MM/yyyy" required="required" placeholder="DD/MM/AAAA"></td>
                                    <td><input type="text" id="itemValor0" name="itemValor0" class="text-right ContaItem" required="required" placeholder="0,00"></td>
                                    <td><input type="text" id="itemAcrescimo0" name="itemAcrescimo0" class="text-right ContaItem" placeholder="0,00"></td>
                                    <td><input type="text" id="itemDesconto0" name="itemDescontol0" class="text-right ContaItem" placeholder="0,00"></td>
                                    <td><input type="text" id="itemHistorico0" name="itemHistorico0" class="text-center ContaItem"></td>
                                    {#<td><input type="text" id="itemCentroCusto0" name="itemCentroCusto0" class="text-center ContaItem"></td>#}
                                    <td href="#" id="btnRemoveLinha" class="sale-delete-row">×</td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>


                    <div class="row padding-top">

                        <div class="col-xs-1">
                            <input href="#" type="submit" class="abutton" value="Salvar" id="btnSave" name="Salvar">
                        </div>

                        <div class="col-xs-1" style="padding-left: 50px">
                            <a class="abuttonVoltar" href="{{ path('contas_index', {'tipo' : tipoConta}) }}">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="{{ asset('assets/js/contas.js') }}"></script>

    <script src="{{ asset('assets/js/typeahead.bundle.js') }}"></script>
    <script>

        var countries = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: 'https://raw.githubusercontent.com/twitter/typeahead.js/gh-pages/data/countries.json'
        });

        $('#scrollable-dropdown-menu .typeahead').typeahead(null, {
            name: 'countries',
            limit: 10,
            source: countries
        });
    </script>

{% endblock %}