{% extends 'base.html.twig' %}

{% block body %}

    <div class="container min_height">
        <div class="row">
            <div class="col-xs-13">
                <h1 class="pagination-centered">Notas Fiscais de Serviço</h1>
                <hr/>
            </div>
        </div>

        <div class="row padding-top padding-bottom" style="width: 101%;">
            <div class="col-xs-1">
                <a class="abuttonCadastrar" href="{{ path('nota_new') }}">Emitir nota</a>
            </div>

            <div class="col-md-3 col-md-offset-8">
                <input type="text" id="search_nota" class="form-control search_nota" placeholder="Procurar">
            </div>
        </div>

        <div class="row row-centered">
            <div id="tableview" class="col-xs-10">
            <table class="table table-responsive results" id="myTable">
                <thead>
                <tr class="table tabelaNota">
                    {#<th>ID</th>#}
                    <th class="left">Número NFSe</th>
                    <th class="left">Cliente</th>
                    <th class="center">Data</th>
                    <th class="center">Status</th>
                    <th class="right">Total</th>
                    {#<th></th>#}{#Visualizar#}
                    <th class=""></th>{#Cancelar#}
                    <th></th>{#Imprimir#}
                </tr>
                </thead>
                <tbody>

                {% for notum in notas %}
                    <tr>
                        {#<td><a href="{{ path('nota_show', { 'id': notum.id }) }}">{{ notum.id }}</td>#}
                        <td class="left">{{ notum.numeroNota }}</td>
                        <td class="left">{{ notum.nome }}</td>
                        <td class="center">{% if notum.data %}{{ notum.data|date('d/m/Y') }}{% endif %}</td>

                        {% if notum.status == 'Enviada' %}
                            <td class="tdNotaEnviada center" style="color: #0ccf4d">{{ notum.status }}</td>
                        {% elseif notum.status == 'Não Enviada' %}
                            <td class="tdNotaNEnviada center" style="color: #2d2d2d">{{ notum.status }}</td>
                        {% elseif notum.status == 'Cancelada' %}
                            <td class="tdNotaCancelada center" style="color: #d43f3a">{{ notum.status }}</td>
                        {% else %}
                            <td class="tdNotaSemStatus center" style="color: #cfcd30">Sem Status</td>
                        {% endif %}

                        <td class="text-right">R$ {{ notum.total|number_format(2, ',', '') }}</td>

                        <td class="right">
                            {% if notum.status == 'Enviada' %}
                                <a id="cancelarNota" onclick="CancelarNf({{ notum.id }})" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            {% elseif notum.status == 'Cancelada' %}
                                <span class="glyphicon glyphicon-minus"></span>
                            {% elseif notum.status == 'Não Enviada' %}
                            {% else %}
                                <a id="cancelarNota" onclick="DeletarNotaInvalida({{ notum.id }})" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                            {% endif %}
                        </td>

                        <td class="center">
                            {% if (notum.status == 'Enviada') or (notum.status == 'Cancelada') %}
                                <a id="imprimirNota" onclick="ImprimirNf({{ notum.id }})" href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
                            {% elseif notum.status == 'Não Enviada' %}
                                <a id="reenviarNota" onclick="reenviarNf({{ notum.id }})" href="#"><span class="glyphicon glyphicon-play-circle"></span></a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
            <div class="col-md-12 text-center">
                <ul class="pagination pagination-lg pager" id="myPager"></ul>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <style>
        .results tr[visible='false'],
        .no-result{
            display:none;
        }

        .results tr[visible='true']{
            display:table-row;
        }

        .table-responsive {height:180px; !important;}
    </style>

    <script>
        $.fn.pageMe = function(opts){
            var $this = this,
                    defaults = {
                        perPage: 7,
                        showPrevNext: false,
                        hidePageNumbers: false
                    },
                    settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector!="undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector!="undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems/perPage);

            pager.data("curr",0);

            if (settings.showPrevNext){
                $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
            }

            var curr = 0;
            while(numPages > curr && (settings.hidePageNumbers==false)){
                $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.showPrevNext){
                $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.prev_link').hide();
            if (numPages<=1) {
                pager.find('.next_link').hide();
            }
            pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();

            pager.find('li .page_link').click(function(){
                var clickedPage = $(this).html().valueOf()-1;
                goTo(clickedPage,perPage);
                return false;
            });
            pager.find('li .prev_link').click(function(){
                previous();
                return false;
            });
            pager.find('li .next_link').click(function(){
                next();
                return false;
            });

            function previous(){
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next(){
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page){
                var startAt = page * perPage,
                        endOn = startAt + perPage;

                children.css('display','none').slice(startAt, endOn).show();

                if (page>=1) {
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                }

                if (page<(numPages-1)) {
                    pager.find('.next_link').show();
                }
                else {
                    pager.find('.next_link').hide();
                }

                pager.data("curr",page);
                pager.children().removeClass("active");
                pager.children().eq(page+1).addClass("active");

            }
        };

        $(document).ready(function() {
            $(".search_nota").keyup(function () {
                var searchTerm = $(".search_nota").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                }
                });

                $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','false');
                });

                $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
                    $(this).attr('visible','true');
                });

                var jobCount = $('.results tbody tr[visible="true"]').length;
                $('.counter').text(jobCount + ' item');

                if(jobCount == '0') {$('.no-result').show();}
                else {$('.no-result').hide();}
            });

            $('#myTable').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:4});
        });

    </script>

    <script src="{{ asset('assets/js/sibrax_nota.js') }}"></script>

{% endblock %}
