{% extends 'base.html.twig' %}

{% block body %}


    <div class="container min_height">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <h1 class="pagination-centered">Lista de Clientes</h1>
            </div>
        </div>
        <div class=" tabela row row-centered">
            <div class="col-xs-10 col-xs-offset-1">
                <table class="table table-striped" id="index_table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome/Razão Social</th>
                        <th>Cpf/Cnpj</th>
                        <th>Cidade</th>
                        <th>Telefone</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div style="padding-top: 50px "></div>

{% endblock %}

{% block javascripts %}
    {#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />#}
    <link rel="stylesheet" href="{{ asset('assets/css/dataTable/dataTables.min.css') }}" />
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ asset('assets/js/dataTable/dataTables.min.js') }}"></script>
    <script>

        $(document).ready(function() {
            $(function() {
                $('#index_table').DataTable({
                    "ordering": false,
                    "info":     false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": "{{ path('cliente_paginate') }}",
                    "sAjaxDataProp": "data",
                    "pageLength": 10,
                    "dom": '<"pull-left"f><"pull-left"l>tip',
                    "searchDelay": 350,
                    "columns":[
                        {"data": "id"},
                        {"data": "nome", "sClass": "left"},
                        {"data": "cpfcnpj", "sClass": "center"},
                        {"data": "cidade", "sClass": "center"},
                        {"data": "fone", "sClass": "center"},
                        {"data": "id",
                            "orderable": false,
                            "searchable": false,
                            "sClass": "center",
                            "render": function(data,type,row,meta) {
                                var url = '{{ path("cliente_edit", {'id': 'texto'}) }}';
                                url = url.replace("texto", row.id);
                                var b = '<a href="'+url+'"><span class="glyphicon glyphicon-pencil"></span></a>';
                                return b;
                            }
                        },
                    ],
                    "fnInitComplete": function() {
                        $(".dataTables_length select").addClass("form-control");
                        $(".dataTables_filter input").addClass("form-control");

                        var pull = document.getElementsByClassName('pull-left');

                        var createA = document.createElement('a');
                        var createAText = document.createTextNode('Cadastrar');
                        createA.setAttribute('href', "{{ path('cliente_new') }}");
                        createA.appendChild(createAText);
                        createA.setAttribute('class', 'abuttonCadastrar');

                        var div = document.createElement('div');
                        div.setAttribute('class', 'padding-left padding-top');
//                        div.setAttribute('style', 'display: inline-block');

                        div.appendChild(createA);
                        pull[1].appendChild(div);

                    },
                    "bLengthChange": false,
                    "language": {
                        "sProcessing":    "Processando...",
                        "sLengthMenu":    "Mostrar _MENU_ registros",
                        "sZeroRecords":   "Não há resultados",
                        "sEmptyTable":    "Dados indisponiveis",
                        "sInfo":          "Mostrando registros _START_ de _END_ de _TOTAL_ registros",
                        "sInfoEmpty":     "Mostrando registros 0 de 0 de 0 registros",
                        "sInfoFiltered":  "(_MAX_ registros filtrados)",
                        "sInfoPostFix":   "",
                        "sSearch":        "Procurar:",
                        "sUrl":           "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Carregando...",
                        "oPaginate": {
                            "sFirst":   "Primeiro",
                            "sLast":    "Último",
                            "sNext":    "Próximo",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Ordenar",
                            "sSortDescending": ": Ordenar"
                        }
                    }
                });
            });


        });



    </script>

{% endblock %}